{{range $dir := lsdir "/services/web"}}
upstream {{base $dir}} {
    {{$custdir := printf "/services/web/%s/*" $dir}}{{range gets $custdir}}
    server {{$data := json .Value}}{{$data.IP}};
    {{end}}
}

server {
    server_name {{base $dir}}.com;
    location / {
        proxy_pass http://{{base $dir}};
    }
}
{{end}}
